<div v-if="!vueGameInfo.show" class="d-flex flex-column flex-shrink-0 border-block" style="width: 180px">
	<span class="mr-4 pt-1 pb-1 dropdown c-pointer">
		<a class="lang dropdown-item text-truncate" :class="[vueGames.active_class == 'Favorite' ? 'dropdown-item-active' : '']"
			href="javascript:;" 
			@click.stop="theGameList.load_games_by_class('class', 'Favorite', '')"
			><label class="lang">{{ theSettings.client_favorite_name || 'Favorite' }}</label></a>
		<a class="lang dropdown-item text-truncate" :class="[vueGames.active_class == 'All Games' ? 'dropdown-item-active' : '']"
			href="javascript:;" 
			@click.stop="theGameList.load_games_by_class('class', 'All Games', '')"
			><label class="lang">All Games</label></a>
		<a v-for="item in theClasses" 
			class="lang dropdown-item text-truncate" 
			:class="[vueGames.active_class == item.class_name ? 'dropdown-item-active' : '']" 
			href="javascript:;" 
			@click.stop="theGameList.load_games_by_class('class', item.class_name, '')"><label class="lang">{{ item.class_name }}</label>
		</a>
		<a class="lang dropdown-item text-truncate" :class="[vueGames.active_class == 'Free to play' ? 'dropdown-item-active' : '']"
			href="javascript:;" 
			@click.stop="theGameList.load_games_by_class('class', 'Free to play', '')"
			><label class="lang">{{ theSettings.client_club_games_name || 'Club Games' }}</label></a>
	</span>
</div>
<div v-if="!vueGameInfo.show" class="container d-flex flex-column flex-grow-1">
<div
	class="container d-flex flex-column flex-grow-1 game-electric-shell"
	:class="{'electric-border': isPromotedOfferInUsing(vueAvailableOffers.items)}"
>
	<!-- Electric Border -->
	<svg v-if="isPromotedOfferInUsing(vueAvailableOffers.items)" class="electro-filter-svg" aria-hidden="true" focusable="false">
		<defs>
			<filter id="electro-filter-game-shell" colorInterpolationFilters="sRGB" x="-20%" y="-20%" width="140%" height="140%">
				<feTurbulence type="turbulence" baseFrequency="0.02" numOctaves="10" result="noise1" seed="1" />
				<feOffset in="noise1" dx="0" dy="0" result="offsetNoise1">
					<animate attributeName="dy" values="700; 0" dur="6s" repeatCount="indefinite" calcMode="linear" />
				</feOffset>
				<feTurbulence type="turbulence" baseFrequency="0.02" numOctaves="10" result="noise2" seed="1" />
				<feOffset in="noise2" dx="0" dy="0" result="offsetNoise2">
					<animate attributeName="dy" values="0; -700" dur="6s" repeatCount="indefinite" calcMode="linear" />
				</feOffset>
				<feTurbulence type="turbulence" baseFrequency="0.02" numOctaves="10" result="noise1" seed="2" />
				<feOffset in="noise1" dx="0" dy="0" result="offsetNoise3">
					<animate attributeName="dx" values="490; 0" dur="6s" repeatCount="indefinite" calcMode="linear" />
				</feOffset>
				<feTurbulence type="turbulence" baseFrequency="0.02" numOctaves="10" result="noise2" seed="2" />
				<feOffset in="noise2" dx="0" dy="0" result="offsetNoise4">
					<animate attributeName="dx" values="0; -490" dur="6s" repeatCount="indefinite" calcMode="linear" />
				</feOffset>
				<feComposite in="offsetNoise1" in2="offsetNoise2" result="part1" />
				<feComposite in="offsetNoise3" in2="offsetNoise4" result="part2" />
				<feBlend in="part1" in2="part2" mode="color-dodge" result="combinedNoise" />
				<feDisplacementMap in="SourceGraphic" in2="combinedNoise" scale="30" xChannelSelector="R" yChannelSelector="B" />
			</filter>
		</defs>
	</svg>

	<div v-if="isPromotedOfferInUsing(vueAvailableOffers.items)" class="electro-border-overlay" aria-hidden="true">
		<div class="inner-container">
			<div class="border-outer">
				<div class="main-card"></div>
			</div>
			<div class="glow-layer-1"></div>
			<div class="glow-layer-2"></div>
		</div>
		<div class="overlay-1"></div>
		<div class="overlay-2"></div>
		<div class="background-glow"></div>
	</div>
	
	<div class="d-flex d-inline-flex rounded align-items-center pl-4 pr-4 font-size-4">
		<div class="col-3">
			<form class="input-group border-0 bg-transparent" onsubmit="return false;">
				<span class="position-absolute" style="line-height: 40px; padding: 0 8px;"><i class="fal fa-search"></i></span>
				<input class="form-control lang " type="text" placeholder="Search game" style="padding-left:30px; height: 40px;" id="search-bar" v-model="vueGames.search" @input="theGameList.onSearchInput()">
			</form>
		</div>
	</div>

	<div class="p-4 flex-grow-1 container" style="height: 100px">
		<div class="d-flex col-12 px-0 justify-content-start m-0 flex-wrap align-content-start">
			<div class="game-item m-4" v-for="game in vueGames.items" :key="game.pkg_id">
				<div class="game-image w-100">
					<span v-if="(game.pkg_game_type >= 1 && game.pkg_has_license > 0)" class="badge badge-license" :class="{'badge-shifted': game.member_favorite}"><i class="fa fa-solid fa-bookmark fa-2x text-success"></i></span>
					<span class="badge badge-favorite c-pointer" :class="{'badge-with-license': (game.pkg_game_type >= 1 && game.pkg_has_license > 0)}" @click.stop="theGameList.toggle_favorite(game.pkg_id)">
						<i v-if="game.member_favorite" class="fa fa-solid fa-heart fa-2x text-danger"></i>
						<i v-else class="fa fa-regular fa-heart fa-2x text-white favorite-icon"></i>
					</span>
					<span v-if="theSettings?.game_detail_view_launch == 1" style="display:contents">
						<img :src="ICAFEMENU_CORE.posters_path(game.pkg_id + '.jpg')" onerror="this.src='images/default-poster.png';">
						<div class="triggle"></div>
						<div class="overlay" style="background:rgba(17, 17, 17, 0.75); ">
							<label class="text-center">{{game.pkg_name}}</label>
							<div class="btn-group d-flex justify-content-center align-items-center w-100 h-75">
								<button class="btn lang" @click="theGameList.open_detail(game)" data-toggle="tooltip" data-placement="bottom" title="Detail">
									<i class="fal fa-info-circle fa2x"></i>
								</button>
							</div>
						</div>
					</span>
					<span v-else style="display:contents">
						<img  :src="ICAFEMENU_CORE.posters_path(game.pkg_id + '.jpg')" onerror="this.src='images/default-poster.png';">
						<div class="triggle"></div>
						<div class="overlay" style="background:rgba(17, 17, 17, 0.75); ">
							<label class="text-center">{{game.pkg_name}}</label>
							<div class="btn-group d-flex justify-content-center align-items-center w-100 h-75">
								<button v-if="vueGames.type != 'license'" class="btn lang" @click="theGameList.play_game(game.pkg_id, thePCStatus.status_pc_token, 0, '', 0, 0)" data-toggle="tooltip" data-placement="bottom" title="Play">
									<i class="fal fa-play fa2x"></i>
								</button>
								<button v-if="(game.pkg_game_type >= 1 && game.pkg_has_license > 0) || theGameList.deliver_password_for_games.includes(game.pkg_game_type?.toString())" class="btn ml-2 lang" @click="theGameList.request_game_licenses(game.pkg_id, 'btn-play-with-license-' + game.pkg_id)" data-toggle="tooltip" data-placement="bottom" :id="'btn-play-with-license-' + game.pkg_id" title="Free to play">
									<i class="fal fa-paper-plane fa2x"></i>
								</button>
							</div>
						</div>
					</span>
				</div>
				<label v-if="(theSettings.name_show_client ?? 0) == 1"  class="text-white text-center mt-2" style="max-width: 136px;">{{game.pkg_name}}</label>
			</div>
		</div>
	</div>
</div>
</div>
<div v-if="vueGameInfo.show && vueGameInfo.source == 'game'" class="container d-flex flex-column flex-grow-1 px-5">
	<div class="d-flex align-items-center">
		<button class="btn btn-sm d-flex align-items-center justify-content-center" style="width:32px;height:32px;padding:0;border-radius:50%;background:rgba(255,255,255,0.15);border:none;" @click="theGameList.back_to_list()">
			<i class="fas fa-arrow-left text-white" style="font-size:14px;"></i>
		</button>
		<span class="text-white font-weight-bold ml-2" style="font-size:1.25rem;">{{ vueGameInfo.game?.pkg_name }}</span>
	</div>
	<div class="d-flex mt-4">
		<div class="position-relative">
			<div class="position-absolute d-flex w-100 justify-content-end">
				<span v-if="(vueGameInfo.game?.pkg_game_type >= 1 && vueGameInfo.game?.pkg_has_license > 0)" class="badge badge-license" :class="{'badge-shifted': vueGameInfo.game?.member_favorite}"><i class="fa fa-solid fa-bookmark fa-2x text-success"></i></span>
				
				<span class="badge badge-favorite c-pointer" :class="{'badge-with-license': (vueGameInfo.game?.pkg_game_type >= 1 && vueGameInfo.game?.pkg_has_license > 0)}" @click.stop="theGameList.toggle_favorite(vueGameInfo.game?.pkg_id)">
					<i v-if="vueGameInfo.game?.member_favorite" class="fa fa-solid fa-heart fa-2x text-danger"></i>
					<i v-else class="fa fa-regular fa-heart fa-2x text-white favorite-icon"></i>
				</span>
			</div>
			
			<img class="rounded-2" v-if="vueGameInfo.game?.pkg_id" :src="vueGameInfo.game?.pkg_id ? ICAFEMENU_CORE.posters_path(vueGameInfo.game?.pkg_id + '.jpg') : 'images/default-poster.png'" onerror="this.src='images/default-poster.png';">
		</div>
		<div class="d-flex flex-column pl-2">
			<div class="btn-group game-detail-btn-groups d-flex justify-content-center align-items-center w-100">
				<button v-if="!theGameList.is_running_pkg(vueGameInfo.game?.pkg_id) && vueGames.type != 'license'" class="btn mx-1 lang"
						@click="theGameList.play_game(vueGameInfo.game?.pkg_id, thePCStatus.status_pc_token, 0, '', 0, 0)"
						data-toggle="tooltip"
						data-placement="bottom"
						title="Play">
					<i class="fal fa-play fa2x"></i>
				</button>
				<button v-if="!theGameList.is_running_pkg(vueGameInfo.game?.pkg_id) && ((vueGameInfo.game?.pkg_game_type >= 1 && vueGameInfo.game?.pkg_has_license > 0) || theGameList.deliver_password_for_games.includes(vueGameInfo.game?.pkg_game_type?.toString()))"
						class="btn mx-1 lang"
						@click="theGameList.request_game_licenses(vueGameInfo.game?.pkg_id, 'btn-play-with-license-' + vueGameInfo.game?.pkg_id)"
						data-toggle="tooltip" data-placement="bottom"
						:id="'btn-play-with-license-' + vueGameInfo.game?.pkg_id" title="Free to play">
					<i class="fal fa-paper-plane fa2x"></i>
				</button>
				<button v-if="theGameList.is_running_pkg(vueGameInfo.game?.pkg_id)"
						class="btn mx-1 lang"
						@click="theGameList.close(vueGameInfo.game?.pkg_id)"
						data-toggle="tooltip"
						data-placement="bottom"
						title="Close">
					<i class="fal text-danger fa-close fa2x"></i>
				</button>
			</div>
			<div class="d-flex flex-column">
			
			</div>
		</div>
	</div>
</div>
<div class="member-sidebar bd-highlight rounded p-4 border-block flex-shrink-0 d-flex flex-column" style="width: 400px"></div>